<html>
  <head>
    <title>Julia's blog</title>
  </head>
  <body>
    <div>
      <h1>
        <a href="/">Julia's blog</a>
      </h1>
    </div>
    <div>
      <p>published: 10.05.2022, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        minima sunt perferendis vel unde facere cupiditate totam. Iusto sunt
        optio laudantium repudiandae libero, in veniam.
      </p>
    </div>
    <div>
      <p>published: 10.05.2022, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        minima sunt perferendis vel unde facere cupiditate totam. Iusto sunt
        optio laudantium repudiandae libero, in veniam.
      </p>
    </div>
  </body>
</html>
